/* Reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global css */
html {
  font-size: 62.5%;
  font-family: cursive, sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: #f5f5f5;
}

/* Global style h */
h1 {
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
}

h2 {
  font-size: 4.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
}

h3 {
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
}

h4 {
  font-size: 3.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
}

h5 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
}

h6 {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
}
